@model PruebaBig_WIllianCuartas.Models.MForecast
@{
    var DateNow = ViewBag.DateNow;
}

@if(Model.Id==null){
<h1 class="text-center">
    registrar pronostico del Clima
</h1>
}
else{
<h1 class="text-center">
    Editar pronostico del Clima
</h1>
}

<h3 class="text-center">
    <b>Ciudad</b>: @Model.CityName 
<br/>
    <b>Fecha</b>: @Model.DateClima.ToString("dd-MM-yyyy")
</h3>

<div class="row">
    <div class="col-3"></div>
        <div class="col-6" style="font-size:2rem">

            <form method="post" asp-action="Save" style="font-size:2rem;">

                <input hidden type="number" class="form-control" id="Id" name="Id" value="@Model.Id" />
                <input hidden type="number" class="form-control" id="IdCity" name="IdCity" value="@Model.IdCity" />
                <input hidden type="date" class="form-control" id="DateClima" name="DateClima" value="@Model.DateClima.ToString("yyyy-MM-dd")" />

                <div class="form-group">
                    <label for="Title">Título del pronostico</label>
                    <input type="text" class="form-control tex" id="Title" name="Title" value="@Model.Title" required/>
                </div>

                <div class="form-group">
                    <label for="MinTemperature">Temperatura Mínima (°C):</label>
                            <input type="number" min="0" max="100" class="form-control tex" id="MinTemperature" name="MinTemperature" value="@Model.MinTemperature" required />
                </div>
                <div class="form-group">
                    <label for="MaxTemperature">Temperatura Máxima (°C):</label>
                            <input type="number" min="0" max="100" class="form-control tex" id="MaxTemperature" name="MaxTemperature" value="@Model.MaxTemperature" required />
                </div>
                <div class="form-group">
                    <label for="RainProbability">Probabilidad de Lluvia (%):</label>
                            <input type="number" min="0" max="100" class="form-control tex" id="RainProbability" name="RainProbability" value="@Model.RainProbability" required />
                </div>
                <div class="form-group">
                    <label for="Observation">Observación:</label>
                            <textarea class="form-control tex" id="Observation " name="Observation">@Model.Observation</textarea>
                </div>

            <button style="font-size:2rem"  type="submit" class="btn btn-success mt-2 px-5">Guardar</button>
            </form>

        </div>
    <div class="col-3"></div>
</div>